
  

<%= simple_form_for :sessions, :url => {:action => "create"} do |f| %>
    <%= f.error_notification %>
<style>
	body{
		margin-top: 4%;

		background-image: url(/assets/food.jpg);

	}
	.simple_form div.input {
		margin-bottom:100px;
		margin-top:100px;
		color:black;
	


	
	}
	.simple_form label{
		width:100px;
		text-align:left;

	}
	</style>
					
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                
         <div class="form-group">
      <%= f.input :email, class: 'text'%>
      <%= f.input :password%>
</div>
    <div class="form-actions">
      <%= f.button :submit, "Login", class: "btn btn-default" %>
    </div>
  <% end %>
               
                </form>
            </div>
        </div>
    </div>
   
</div>










	