<h1 id="SignUp">Sign Up</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
	body{
		background-image: url(/assets/food.jpg);
	}
	a:hover{
		color:white;
		background-color:#DAA520;
	}
	.btn:hover { 
	    background-color: #DAA520;
		border: #DAA520;
	}
	</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
            </div>
            <div class="wrap">

					<div>
					<input type="text" placeholder="First Name" <%= f.text_field :fname %>
	
				  </div>
				  <div>

				    <input type="text" placeholder="Last Name" <%= f.text_field :lname %>
				  </div>
				  <%if current_user.admin?%>
				  <div>
					Customer <%= f.radio_button :kind, value: 1 %> 
					Business Owner <%= f.radio_button :kind, value: 2%> 
	
				  </div>
				  <%else%>
				  <% f.hidden_field :kind, value: 1%>
				  <%end%>
				  <div>

				    <input type="text" placeholder="Email" <%= f.text_field :email %>
				  </div>
				 <div>

				  	 <input type="password" placeholder="Password" <%= f.password_field :password %>
				</div>
				 <div>

				  	 <input type="password" placeholder="Confirm Password" <%= f.password_field :password_confirmation %>
				</div>
				  <div>

				    <%= f.date_select :dob %>
				  </div>
				  <div>

				    <input type="text" placeholder="Gender" <%= f.text_field :gender %>
				  </div>
				  <div>

				    <input type="text" placeholder="Phone Number" <%= f.number_field :phone %>
				  </div>
				  <div>

				    <input type="text" placeholder="Address" <%= f.text_field :address %>
				    <% f.hidden_field :tokens, :value=> 0%>
				  <% f.hidden_field :points, :value=> 0%>
				  <% f.hidden_field :nooforders, :value=> 0%>
				  </div>
				  

				  <div class="actions">
				    <input type="submit" value="Sign Up" class="btn btn-success btn-sm" <%= f.submit %>
				  </div>
				<% end %>
               
           
            </div>
        </div>
    </div>
   
</div>


