<!--<p id="notice"><%= notice %></p>


<div class="container">
<h1 class="page-header">
  <%= @bussiness.name %>
</h1>

<p>
  <strong>Ratings:</strong>
  <%= @bussiness.ratings %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @bussiness.reviews %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @bussiness.photos %>
</p>

<p>
  <strong>Instalink:</strong>
  <%= @bussiness.instalink %>
</p>
<p>
  <strong>Description:</strong>
  <%= @bussiness.description %>
</p>
</div>
<%= link_to 'Edit', edit_bussiness_path(@bussiness) %> |
<%= link_to 'Back', bussinesses_path %> -->
<!DOCTYPE html>
<html lang="en">

<head>
<style>
#profile{
  padding-top: 50px;
}

</style>
</head>
<body>
<p id="notice"><%= notice %></p>
<div class="container" id="profile">
        <%= image_tag(@bussiness.photos, :size => "350x200") %>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @bussiness.name %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @bussiness.description %></td>
              </tr>
              <tr>
                <td><strong>Reviews</strong></td>
                <td><% if @reviews.blank? %>
            No reviews just yet, would you like to add the first!
            <%= link_to "Write Review", new_bussiness_review_path(@bussiness), class: "btn btn-default btn-sm" %>
          <% else %>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment %></p>
              </div>
            <% end %>
          <% end %></td>
              </tr>
              <tr>
                <td><strong>Instalink:</strong></td>
                <td><%= @bussiness.instalink %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @bussiness.ratings %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-7 col-md-offset-1">
          
        </div>
</div>
<div class="form-group row">
  <div class="col-sm-10">
    <%= link_to 'Edit', edit_bussiness_path(@bussiness), class: 'btn btn-default' %>
      <%= link_to "Back", bussinesses_path, class: "btn btn-default" %>
  </div>
</div>
</body>
</html>