<p id="notice"><%= notice %></p>

<style>
    body{
        background-image: url(/assets/dark.jpeg);
      padding:50px;
    }
  .table{
    color:black;
    background-color:white;
  }
  .text{
    color:black;
  }


  </style>
<div class="container">
<p>
  <strong>Orderer: </strong>
  <%= current_user.fname + " " + current_user.lname %>
</p>
<p>
  <strong>Payment method:</strong><br>
  
</p>

<h2>Ordered Food List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Food Business</th>
      <th>Food Category</th>
      <th>Qty.</th>
      <th>Special Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @order.orderlines.each do |item| %>
      <tr>
      <td><%= item.food.name %></td>
      <td><%= item.food.bussiness.name %></td>
      <td><%= item.food.category.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.comment %></td>
      <td><%= link_to 'Remove from cart', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default text"  %></td>
    <td><%= link_to 'Update Quantity & Comments', edit_orderline_path(item.id), class: "btn btn-default text" %></td>
    </tr>
    <%end%>
  </tbody>

</table>
<%= button_to 'Confirm Order', @order, method: :delete, confirm: "Are you sure?", :class => "btn btn-default btn-lg" %>
</div>



<%= link_to 'Edit', edit_order_path(@order), :class => "btn-default" %> |
<%= link_to 'Back', orders_path, :class => "btn-default" %>
