<p id="notice"><%= notice %></p>

<h1>Listing Orderlines</h1>

<table>
  <thead>
    <tr>
      <th>Idfood</th>
      <th>Idorder</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderlines.each do |orderline| %>
      <tr>
        <td><%= orderline.idfood %></td>
        <td><%= orderline.idorder %></td>
        <td><%= orderline.quantity %></td>
        <td><%= orderline.cost %></td>
        <td><%= orderline.comment %></td>
        <td><%= link_to 'Show', orderline %></td>
        <td><%= link_to 'Edit', edit_orderline_path(orderline) %></td>
        <td><%= link_to 'Destroy', orderline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderline', new_orderline_path %>
