<!--<h1>New Review</h1>

<%= render 'form' %>

<%= link_to 'Back', reviews_path %>
-->
<style>
body{
	margin-top: 4%;

	background-image: url(/assets/dark.jpeg);

}
#submity{
	margin-top: 20px;

}
.text{
	color:black;

}
.col-sm-10{
	color:black;
}

</style>
<body>
<div class="row">
<div class="col-lg-12">
	<h1 class="page-header">Write a Review
  	  <small id="s">your opinion matters</small>
    </h1>
</div>
</div>
<div class="container">
<%= form_for([@bussiness, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= f.label :rating, class: 'col-sm-4 form-control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :rating, class: 'text' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :comment, class: 'col-sm-4 form-control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :comment , class: 'text' %>
    </div>
  </div>
  
  

  	<%= f.hidden_field :user_id, :value => current_user.id%>
  
	<%= f.hidden_field :bussiness_id, :value => @bussiness.id%>



  <div class="form-group row">
    <div class="col-sm-10" id="submity">
      <%= f.submit 'Submit Your Opinion', class: 'btn btn-default' %>
      <%= link_to "Back", bussinesses_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
</div>
<body>